# Replace and InterPolate to Handle missing data


# Replace

In [1]:
import pandas as pd

In [2]:
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [4]:
#to replace a value to something
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace(to_replace=0.0,value=22) #replace function with two parameters(to be change, value)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,22.0,342.0,2015.0,July,27.0,NaN,NaN,22.0,Transient,22.00,22.0,22.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,22.0,737.0,2015.0,July,27.0,NaN,NaN,22.0,Transient,22.00,22.0,22.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,22.0,13.0,2015.0,July,27.0,304.0,NaN,22.0,Transient,75.00,22.0,22.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,22.0,14.0,2015.0,July,27.0,240.0,NaN,22.0,Transient,98.00,22.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,22.0,23.0,2017.0,August,35.0,394.0,NaN,22.0,Transient,96.14,22.0,22.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,22.0,102.0,2017.0,August,35.0,9.0,NaN,22.0,Transient,225.43,22.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,22.0,34.0,2017.0,August,35.0,9.0,NaN,22.0,Transient,157.71,22.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,22.0,109.0,2017.0,August,35.0,89.0,NaN,22.0,Transient,104.40,22.0,22.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,22.0,205.0,2017.0,August,35.0,9.0,NaN,22.0,Transient,151.20,22.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [5]:
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace(to_replace="Andrea Baker",value="Vishwa Malani") #replace function with two parameters(to be change, value)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Vishwa Malani,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [8]:
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace([1,2,3,4],9) # check for total_of_special_requests

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,9.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,9.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,9.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,9.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [10]:
#replace using regex ---giving regular expressions  
csv_1.replace("[A-Za-z]","python",regex=True) #for capital only [A-Z] #it will replace data for all columns if want to change for particular column only use dictionary

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,pythonpythonpythonpythonpythonpython pythonpyt...,0.0,342.0,2015.0,pythonpythonpythonpython,27.0,NaN,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,0.00,0.0,0.0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-01,pythonpythonpythonpythonpythonpython pythonpyt...,pythonpythonpythonpythonpythonpython.pythonpyt...,669-792-1661,************4322
1,pythonpythonpythonpythonpythonpython pythonpyt...,0.0,737.0,2015.0,pythonpythonpythonpython,27.0,NaN,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,0.00,0.0,0.0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-01,pythonpythonpythonpythonpythonpython pythonpyt...,pythonpythonpythonpythonpythonpython_pythonpyt...,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pythonpythonpythonpythonpythonpython pythonpyt...,0.0,13.0,2015.0,pythonpythonpythonpython,27.0,304.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,75.00,0.0,0.0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-02,pythonpythonpythonpythonpython pythonpythonpyt...,pythonpythonpythonpythonpython_python@pythonpy...,364-656-8427,************5677
4,pythonpythonpythonpythonpythonpython pythonpyt...,0.0,14.0,2015.0,pythonpythonpythonpython,27.0,240.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,98.00,0.0,1.0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-03,pythonpythonpythonpythonpython pythonpythonpyt...,pythonpythonpythonpythonpythonpython@pythonpyt...,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,pythonpythonpythonpython pythonpythonpythonpyt...,0.0,23.0,2017.0,pythonpythonpythonpythonpythonpython,35.0,394.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,96.14,0.0,0.0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-06,pythonpythonpythonpythonpythonpythonpython pyt...,pythonpythonpythonpythonpythonpythonpython.pyt...,403-092-5582,************8647
119386,pythonpythonpythonpython pythonpythonpythonpyt...,0.0,102.0,2017.0,pythonpythonpythonpythonpythonpython,35.0,9.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,225.43,0.0,2.0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07,pythonpythonpythonpythonpythonpython pythonpyt...,pythonpythonpythonpythonpythonpythonpythonpyth...,238-763-0612,************4333
119387,pythonpythonpythonpython pythonpythonpythonpyt...,0.0,34.0,2017.0,pythonpythonpythonpythonpythonpython,35.0,9.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,157.71,0.0,4.0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07,pythonpythonpythonpython pythonpythonpythonpyt...,pythonpythonpythonpython_pythonpythonpythonpyt...,395-518-4100,************1821
119388,pythonpythonpythonpython pythonpythonpythonpyt...,0.0,109.0,2017.0,pythonpythonpythonpythonpythonpython,35.0,89.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,104.40,0.0,0.0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpython_pythonpythonpythonpythonpythonpyt...,531-528-1017,************7860
119389,pythonpythonpythonpython pythonpythonpythonpyt...,0.0,205.0,2017.0,pythonpythonpythonpythonpythonpython,35.0,9.0,NaN,0.0,pythonpythonpythonpythonpythonpythonpythonpyth...,151.20,0.0,2.0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07,pythonpythonpythonpythonpythonpython pythonpyt...,pythonpythonpythonpythonpythonpython_python@py...,422-804-6403,************4482

In [11]:
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace({"name":'[A-Z]'},"vishwa",regex=True)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,vishwarnest vishwaarnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,vishwandrea vishwaaker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,vishwaaura vishwaurray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,vishwainda vishwaines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,vishwalaudia vishwaohnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,vishwaesley vishwaguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,vishwaary vishwaorales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,vishwaaroline vishwaonley vishwavishwa,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,vishwariana vishwaichael,Ariana_M@xfinity.com,422-804-6403,************4482

In [12]:
#change NaN value to previous or backward data using replace
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace(2.0,method="ffill") #forward filling check for total_of_special_requests

'''
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace(2.0,method="bfill") #backward filling check for total_of_special_requests
'''

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,0.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,0.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [15]:
 #change limited values for example change forward filling only which column has only 3 values of 4.0
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace(4,method="ffill",limit=3) #forward filling check for total_of_special_requests

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,2.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [17]:

#inplace ( to change original data not a copy)
#it will change in original file ,but if inplace=False it will make only copy of data
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.replace(4,method="ffill",limit=3,inplace=True)
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,2.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [18]:
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,2.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

# Interpolate

In [19]:
import pandas as pd

In [20]:
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,NaN,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,NaN,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [21]:
#interpolate only works with numbers not alphabets if you only use interpolate() directly
csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")

csv_1.interpolate() #to fill missing values automatically check for lead_time ,arrival_date_yea

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,0.0,375.0,2015.0,NaN,27.0,NaN,NaN,0.0,NaN,37.50,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,485.0,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,485.0,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

# Methods of interpolate
#method:{'linear','time','index','values','nearest' ,'zero','slinear','cubic','krogh','polynomial','spline','pchip','akima'}

In [22]:

# interpolate only works with numbers not alphabets 
# it has diff methods 

csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.interpolate(method='linear') #data will fill linearly

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,0.0,375.0,2015.0,NaN,27.0,NaN,NaN,0.0,NaN,37.50,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,485.0,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,485.0,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [26]:

csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.interpolate(method='linear',axis=0)  #if axis=0 it will fill column by column 
                                            #if axis=1  it will fill row by row but during row by row each value has to be same data type

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,0.0,375.0,2015.0,NaN,27.0,NaN,NaN,0.0,NaN,37.50,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,485.0,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,485.0,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,485.0,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [29]:

csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.interpolate(limit=3)  #in each column it will fill only up to 3 Nans after that all Nans would be same

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,0.0,375.0,2015.0,NaN,27.0,NaN,NaN,0.0,NaN,37.50,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [34]:

csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.interpolate(limit_direction="forward", limit=3) #limit_direction can change by forward(from up it will change 3 nans from where it starts)/backward(from below it will change 3 nans from where it starts)/both (it will change in both forward and backward direction)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,0.0,375.0,2015.0,NaN,27.0,NaN,NaN,0.0,NaN,37.50,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [37]:

csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.interpolate(limit_area='inside') #it will fill all the blank data including Nans ,but if limit_area='outside'it will only change blankdata except Nans

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0.0,342.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,NaN,0.0,375.0,2015.0,NaN,27.0,NaN,NaN,0.0,NaN,37.50,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,2017.0,August,35.0,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0.0,102.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0.0,34.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0.0,109.0,2017.0,August,35.0,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0.0,205.0,2017.0,August,35.0,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [ ]:

csv_1 = pd.read_csv("/Users/vishwamalani/Desktop/python/hotel_booking.csv")
csv_1.interpolate(limit_direction="forward", limit=3 ,inplace=True) #it will change in original file ,but if inplace=False it will make only copy of data